<% if @user.profile == nil %>
    <div class="alert alert-danger">
        <p>Sorry, this user do not have profile</p>
    </div>
<% elsif current_user == nil %>
    <p>Please sign up an account to view more</p>
<% else %>
    <%= image_tag @user.profile.avatar.url %></br>
    <%= image_tag @user.profile.avatar.url(:medium) %></br>
    <%= image_tag @user.profile.avatar.url(:thumb) %></br>
    <%= @user.profile.first_name %> <%= @user.profile.last_name %><br/>
    <%= @user.profile.job_title %></br>
    <!-- Let pro account(plan_id=2) or self can read more profile -->
    <% if current_user.plan_id == 2 || @user == current_user %> 
        <%= @user.profile.phone_number %></br>
        <%= @user.profile.contact_email %></br>
        <%= @user.profile.description %></br>
    <% end %>
<% end %>